---

// IMPORTS ASTRO COMPONENTS
import SocialIconItem from "@/components/common/footer/social-icons/item/index.astro"

---
<section class="flex gap-2 items-center justify-center md:justify-start">
    <SocialIconItem
        alternative_text="facebook icon"
        aria_label="facebook icon"
        color="#3b5998"
        href="https://www.facebook.com/cadenceSEOconsulting/"
        source="/icons/facebook.svg"
    />
    <SocialIconItem
        alternative_text="x icon"
        aria_label="x icon"
        color="#1da1f2"
        href="https://twitter.com/CadenceSeo"
        source="/icons/x.svg"
    />
    <SocialIconItem
        alternative_text="youtube icon"
        aria_label="youtube icon"
        color="#cd201f"
        href="https://www.youtube.com/@cadenceseo"
        source="/icons/youtube.svg"
    />
    <SocialIconItem
        alternative_text="instagram icon"
        aria_label="instagram icon"
        color="#262626"
        href="https://www.instagram.com/cadenceseoconsulting"
        source="/icons/instagram.svg"
    />
    <SocialIconItem
        alternative_text="linkedin icon"
        aria_label="linkedin icon"
        color="#0077b5"
        href="https://www.linkedin.com/company/cadence-seo"
        source="/icons/linkedin.svg"
    />
</section>
